<h1> Tracking the International Space Station </h1>

In [2]:
import matplotlib.pyplot as plt
import pandas as pd 
import json
import requests

url="http://api.open-notify.org/iss-now.json"


response = requests.get(url)
need_dict=response.json()
print(need_dict)


#and then check the response...
# if response == 0:
#     print (hostname, 'is up!')
# else:
#     print (hostname, 'is down!')

list_dict=[{'iss_position': {'latitude': '-39.2534', 'longitude': '19.1516'}, 'timestamp': 1657443516, 'message': 'success'},
{'iss_position': {'latitude': '-39.6567', 'longitude': '19.8135'}, 'timestamp': 1657443527, 'message': 'success'},
{'iss_position': {'latitude': '-40.0746', 'longitude': '20.5158'}, 'timestamp': 1657443538, 'message': 'success'},
{'iss_position': {'latitude': '-40.4689', 'longitude': '21.1948'}, 'timestamp': 1657443548, 'message': 'success'},
{'iss_position': {'latitude': '-40.8587', 'longitude': '21.8822'}, 'timestamp': 1657443559, 'message': 'success'},
{'iss_position': {'latitude': '-41.2439', 'longitude': '22.5784'}, 'timestamp': 1657443569, 'message': 'success'},
{'iss_position': {'latitude': '-41.6422', 'longitude': '23.3170'}, 'timestamp': 1657443580, 'message': 'success'},
{'iss_position': {'latitude': '-42.0174', 'longitude': '24.0312'}, 'timestamp': 1657443591, 'message': 'success'},
{'iss_position': {'latitude': '-42.3875', 'longitude': '24.7543'}, 'timestamp': 1657443601, 'message': 'success'},
{'iss_position': {'latitude': '-42.7701', 'longitude': '25.5222'}, 'timestamp': 1657443612, 'message': 'success'},
{'iss_position': {'latitude': '-43.1295', 'longitude': '26.2639'}, 'timestamp': 1657443623, 'message': 'success'},
{'iss_position': {'latitude': '-43.4834', 'longitude': '27.0149'}, 'timestamp': 1657443633, 'message': 'success'},
{'iss_position': {'latitude': '-43.8318', 'longitude': '27.7752'}, 'timestamp': 1657443644, 'message': 'success'},
{'iss_position': {'latitude': '-44.1905', 'longitude': '28.5815'}, 'timestamp': 1657443655, 'message': 'success'},
{'iss_position': {'latitude': '-44.5270', 'longitude': '29.3610'}, 'timestamp': 1657443666, 'message': 'success'},
{'iss_position': {'latitude': '-44.8575', 'longitude': '30.1500'}, 'timestamp': 1657443676, 'message': 'success'},
{'iss_position': {'latitude': '-45.1820', 'longitude': '30.9486'}, 'timestamp': 1657443687, 'message': 'success'},
{'iss_position': {'latitude': '-45.5150', 'longitude': '31.7954'}, 'timestamp': 1657443698, 'message': 'success'},
{'iss_position': {'latitude': '-45.8264', 'longitude': '32.6135'}, 'timestamp': 1657443708, 'message': 'success'},
{'iss_position': {'latitude': '-46.1312', 'longitude': '33.4412'}, 'timestamp': 1657443719, 'message': 'success'},
{'iss_position': {'latitude': '-46.4293', 'longitude': '34.2785'}, 'timestamp': 1657443729, 'message': 'success'},
{'iss_position': {'latitude': '-46.7205', 'longitude': '35.1253'}, 'timestamp': 1657443740, 'message': 'success'},
{'iss_position': {'latitude': '-47.0181', 'longitude': '36.0227'}, 'timestamp': 1657443751, 'message': 'success'},
{'iss_position': {'latitude': '-47.2949', 'longitude': '36.8891'}, 'timestamp': 1657443761, 'message': 'success'},
{'iss_position': {'latitude': '-47.5644', 'longitude': '37.7652'}, 'timestamp': 1657443772, 'message': 'success'},
{'iss_position': {'latitude': '-47.8265', 'longitude': '38.6505'}, 'timestamp': 1657443782, 'message': 'success'},
{'iss_position': {'latitude': '-48.0929', 'longitude': '39.5880'}, 'timestamp': 1657443793, 'message': 'success'},
{'iss_position': {'latitude': '-48.3392', 'longitude': '40.4920'}, 'timestamp': 1657443804, 'message': 'success'},
{'iss_position': {'latitude': '-48.5776', 'longitude': '41.4052'}, 'timestamp': 1657443814, 'message': 'success'},
{'iss_position': {'latitude': '-48.8080', 'longitude': '42.3273'}, 'timestamp': 1657443825, 'message': 'success'},
{'iss_position': {'latitude': '-49.0303', 'longitude': '43.2581'}, 'timestamp': 1657443835, 'message': 'success'},
{'iss_position': {'latitude': '-49.2543', 'longitude': '44.2427'}, 'timestamp': 1657443846, 'message': 'success'},
{'iss_position': {'latitude': '-49.4595', 'longitude': '45.1910'}, 'timestamp': 1657443857, 'message': 'success'},
{'iss_position': {'latitude': '-49.6561', 'longitude': '46.1473'}, 'timestamp': 1657443867, 'message': 'success'},
{'iss_position': {'latitude': '-49.8439', 'longitude': '47.1117'}, 'timestamp': 1657443878, 'message': 'success'},
{'iss_position': {'latitude': '-50.0230', 'longitude': '48.0839'}, 'timestamp': 1657443888, 'message': 'success'},
{'iss_position': {'latitude': '-50.1932', 'longitude': '49.0635'}, 'timestamp': 1657443899, 'message': 'success'},
{'iss_position': {'latitude': '-50.3617', 'longitude': '50.0975'}, 'timestamp': 1657443910, 'message': 'success'},
{'iss_position': {'latitude': '-50.5131', 'longitude': '51.0912'}, 'timestamp': 1657443920, 'message': 'success'},
{'iss_position': {'latitude': '-50.6553', 'longitude': '52.0915'}, 'timestamp': 1657443931, 'message': 'success'},
{'iss_position': {'latitude': '-50.7880', 'longitude': '53.0979'}, 'timestamp': 1657443942, 'message': 'success'},
{'iss_position': {'latitude': '-50.9113', 'longitude': '54.1102'}, 'timestamp': 1657443952, 'message': 'success'},
{'iss_position': {'latitude': '-51.0301', 'longitude': '55.1764'}, 'timestamp': 1657443963, 'message': 'success'},
{'iss_position': {'latitude': '-51.1337', 'longitude': '56.1993'}, 'timestamp': 1657443974, 'message': 'success'},
{'iss_position': {'latitude': '-51.2275', 'longitude': '57.2268'}, 'timestamp': 1657443984, 'message': 'success'},
{'iss_position': {'latitude': '-51.3151', 'longitude': '58.3075'}, 'timestamp': 1657443995, 'message': 'success'},
{'iss_position': {'latitude': '-51.3887', 'longitude': '59.3429'}, 'timestamp': 1657444006, 'message': 'success'},
{'iss_position': {'latitude': '-51.4523', 'longitude': '60.3817'}, 'timestamp': 1657444016, 'message': 'success'},
{'iss_position': {'latitude': '-51.5060', 'longitude': '61.4234'}, 'timestamp': 1657444027, 'message': 'success'},
{'iss_position': {'latitude': '-51.5513', 'longitude': '62.5170'}, 'timestamp': 1657444038, 'message': 'success'},
{'iss_position': {'latitude': '-51.5843', 'longitude': '63.5627'}, 'timestamp': 1657444048, 'message': 'success'},
{'iss_position': {'latitude': '-51.6072', 'longitude': '64.6100'}, 'timestamp': 1657444059, 'message': 'success'},
{'iss_position': {'latitude': '-51.6200', 'longitude': '65.6579'}, 'timestamp': 1657444069, 'message': 'success'},
{'iss_position': {'latitude': '-51.6226', 'longitude': '66.7062'}, 'timestamp': 1657444080, 'message': 'success'},
{'iss_position': {'latitude': '-51.6144', 'longitude': '67.8046'}, 'timestamp': 1657444091, 'message': 'success'},
{'iss_position': {'latitude': '-51.5962', 'longitude': '68.8524'}, 'timestamp': 1657444101, 'message': 'success'},
{'iss_position': {'latitude': '-51.5679', 'longitude': '69.8990'}, 'timestamp': 1657444112, 'message': 'success'},
{'iss_position': {'latitude': '-51.5274', 'longitude': '70.9936'}, 'timestamp': 1657444123, 'message': 'success'},
{'iss_position': {'latitude': '-51.4785', 'longitude': '72.0363'}, 'timestamp': 1657444133, 'message': 'success'},
{'iss_position': {'latitude': '-51.4195', 'longitude': '73.0765'}, 'timestamp': 1657444144, 'message': 'success'},
{'iss_position': {'latitude': '-51.3505', 'longitude': '74.1137'}, 'timestamp': 1657444154, 'message': 'success'},
{'iss_position': {'latitude': '-51.2716', 'longitude': '75.1476'}, 'timestamp': 1657444165, 'message': 'success'},
{'iss_position': {'latitude': '-51.1784', 'longitude': '76.2265'}, 'timestamp': 1657444176, 'message': 'success'},
{'iss_position': {'latitude': '-51.0793', 'longitude': '77.2517'}, 'timestamp': 1657444186, 'message': 'success'},
{'iss_position': {'latitude': '-50.9705', 'longitude': '78.2723'}, 'timestamp': 1657444197, 'message': 'success'},
{'iss_position': {'latitude': '-50.8521', 'longitude': '79.2877'}, 'timestamp': 1657444208, 'message': 'success'},
{'iss_position': {'latitude': '-50.7178', 'longitude': '80.3453'}, 'timestamp': 1657444219, 'message': 'success'},
{'iss_position': {'latitude': '-50.5800', 'longitude': '81.3489'}, 'timestamp': 1657444229, 'message': 'success'},
{'iss_position': {'latitude': '-50.4327', 'longitude': '82.3461'}, 'timestamp': 1657444240, 'message': 'success'},
{'iss_position': {'latitude': '-50.2763', 'longitude': '83.3368'}, 'timestamp': 1657444250, 'message': 'success'},
{'iss_position': {'latitude': '-50.1107', 'longitude': '84.3203'}, 'timestamp': 1657444261, 'message': 'success'},
{'iss_position': {'latitude': '-49.9275', 'longitude': '85.3431'}, 'timestamp': 1657444272, 'message': 'success'},
{'iss_position': {'latitude': '-49.7436', 'longitude': '86.3114'}, 'timestamp': 1657444282, 'message': 'success'},
{'iss_position': {'latitude': '-49.5509', 'longitude': '87.2721'}, 'timestamp': 1657444293, 'message': 'success'},
{'iss_position': {'latitude': '-49.3397', 'longitude': '88.2699'}, 'timestamp': 1657444304, 'message': 'success'},
{'iss_position': {'latitude': '-49.1295', 'longitude': '89.2139'}, 'timestamp': 1657444314, 'message': 'success'},
{'iss_position': {'latitude': '-48.9108', 'longitude': '90.1494'}, 'timestamp': 1657444325, 'message': 'success'},
{'iss_position': {'latitude': '-48.6840', 'longitude': '91.0760'}, 'timestamp': 1657444335, 'message': 'success'},
{'iss_position': {'latitude': '-48.4490', 'longitude': '91.9939'}, 'timestamp': 1657444346, 'message': 'success'},
{'iss_position': {'latitude': '-48.1944', 'longitude': '92.9457'}, 'timestamp': 1657444357, 'message': 'success'},
{'iss_position': {'latitude': '-47.9432', 'longitude': '93.8452'}, 'timestamp': 1657444367, 'message': 'success'},
{'iss_position': {'latitude': '-47.6720', 'longitude': '94.7772'}, 'timestamp': 1657444378, 'message': 'success'},
{'iss_position': {'latitude': '-47.4054', 'longitude': '95.6574'}, 'timestamp': 1657444389, 'message': 'success'},
{'iss_position': {'latitude': '-47.1315', 'longitude': '96.5281'}, 'timestamp': 1657444399, 'message': 'success'},
{'iss_position': {'latitude': '-46.8503', 'longitude': '97.3895'}, 'timestamp': 1657444410, 'message': 'success'},
{'iss_position': {'latitude': '-46.5480', 'longitude': '98.2817'}, 'timestamp': 1657444421, 'message': 'success'},
{'iss_position': {'latitude': '-46.2525', 'longitude': '99.1235'}, 'timestamp': 1657444431, 'message': 'success'},
{'iss_position': {'latitude': '-45.9502', 'longitude': '99.9558'}, 'timestamp': 1657444442, 'message': 'success'},
{'iss_position': {'latitude': '-45.6412', 'longitude': '100.7784'}, 'timestamp': 1657444452, 'message': 'success'},
{'iss_position': {'latitude': '-45.3106', 'longitude': '101.6297'}, 'timestamp': 1657444463, 'message': 'success'},
{'iss_position': {'latitude': '-44.9885', 'longitude': '102.4327'}, 'timestamp': 1657444474, 'message': 'success'},
{'iss_position': {'latitude': '-44.6602', 'longitude': '103.2261'}, 'timestamp': 1657444485, 'message': 'success'},
{'iss_position': {'latitude': '-44.3097', 'longitude': '104.0472'}, 'timestamp': 1657444496, 'message': 'success'},
{'iss_position': {'latitude': '-43.9687', 'longitude': '104.8220'}, 'timestamp': 1657444506, 'message': 'success'},
{'iss_position': {'latitude': '-43.6224', 'longitude': '105.5866'}, 'timestamp': 1657444517, 'message': 'success'},
{'iss_position': {'latitude': '-43.2703', 'longitude': '106.3421'}, 'timestamp': 1657444527, 'message': 'success'},
{'iss_position': {'latitude': '-42.8956', 'longitude': '107.1233'}, 'timestamp': 1657444538, 'message': 'success'},
{'iss_position': {'latitude': '-42.5324', 'longitude': '107.8597'}, 'timestamp': 1657444549, 'message': 'success'},
{'iss_position': {'latitude': '-42.1640', 'longitude': '108.5870'}, 'timestamp': 1657444559, 'message': 'success'},
{'iss_position': {'latitude': '-41.7904', 'longitude': '109.3055'}, 'timestamp': 1657444570, 'message': 'success'},
{'iss_position': {'latitude': '-41.3937', 'longitude': '110.0486'}, 'timestamp': 1657444581, 'message': 'success'}]



issdf=pd.DataFrame(list_dict)
issdf
#position 
position_list_contents=issdf['iss_position']
position_list_contents

position_list=[]
for i in position_list_contents:
    position_list.append(i)
    


#time 

time_list_contents=issdf['timestamp']

time_list=[]
for j in time_list_contents:
    time_list.append(j)
    
timedf=pd.DataFrame(time_list)

positiondf=pd.DataFrame(position_list)

{'iss_position': {'latitude': '34.4256', 'longitude': '115.6915'}, 'timestamp': 1657546460, 'message': 'success'}

In [3]:
#dump lat long

positiondf.head(40)

    latitude longitude
0   -39.2534   19.1516
1   -39.6567   19.8135
2   -40.0746   20.5158
3   -40.4689   21.1948
4   -40.8587   21.8822
5   -41.2439   22.5784
6   -41.6422   23.3170
7   -42.0174   24.0312
8   -42.3875   24.7543
9   -42.7701   25.5222
10  -43.1295   26.2639
11  -43.4834   27.0149
12  -43.8318   27.7752
13  -44.1905   28.5815
14  -44.5270   29.3610
15  -44.8575   30.1500
16  -45.1820   30.9486
17  -45.5150   31.7954
18  -45.8264   32.6135
19  -46.1312   33.4412
20  -46.4293   34.2785
21  -46.7205   35.1253
22  -47.0181   36.0227
23  -47.2949   36.8891
24  -47.5644   37.7652
25  -47.8265   38.6505
26  -48.0929   39.5880
27  -48.3392   40.4920
28  -48.5776   41.4052
29  -48.8080   42.3273
30  -49.0303   43.2581
31  -49.2543   44.2427
32  -49.4595   45.1910
33  -49.6561   46.1473
34  -49.8439   47.1117
35  -50.0230   48.0839
36  -50.1932   49.0635
37  -50.3617   50.0975
38  -50.5131   51.0912
39  -50.6553   52.0915

In [4]:
#dump time 

timedf

              0
0    1657443516
1    1657443527
2    1657443538
3    1657443548
4    1657443559
..          ...
96   1657444538
97   1657444549
98   1657444559
99   1657444570
100  1657444581

[101 rows x 1 columns]

In [6]:
#make into the graph 

import plotly.express as px
import pandas as pd
import plotly.io as pio
pio.renderers.default = 'iframe'



fig = px.scatter_geo(positiondf,lat=positiondf['latitude'],lon=positiondf['latitude'], hover_name="latitude")
fig.update_layout(title = 'World map', title_x=0.5)
fig.show()